<section class="p-4 space-y-12">
  <div class="flex justify-between items-center">
    <header class="text-wrap w-1/2">
      <div>Jetzt</div>
      <div>Feedback</div>
      <div>einholen</div>
    </header>
    <div class="bg-blue-500 h-120 w-1/2 rounded-3xl"></div>
  </div>
  <article class="flex gap-6">
    <div class="flex items-center gap-6 text-white bg-orange-500 rounded-3xl  p-4">
      <div class="flex flex-col gap-6 justify-between">
        <h1 class="mb-6">Lade deine Dokumente hoch und bekomme ein erstes Feedback
          zu deinen Dokumenten</h1>
        <p class="text-white text-2xl">Unser Testaments-Check Service analysiert deine Dokumente und bietet eine erste
          rechtliche Einschätzung. Lade deine Testamentsentwürfe, Vollmachten oder andere rechtliche Dokumente hoch und
          erhalte innerhalb kurzer Zeit ein fundiertes Feedback von unseren Experten.</p>
      </div>
    </div>
    <p class="flex-none"><img ngSrc="assets/app.gif" alt="Application demonstration"
                              class="max-w-full h-auto rounded-3xl shadow"
                              width="200" height="500"></p>
  </article>
</section>
