<mat-card appearance="outlined" class="h-full flex flex-col w-80 justify-between">
  <div>
    <mat-card-header>
      <mat-card-title>{{ card().title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [ngSrc]="card().imageUrl"
      height="250"
      width="320"
      [alt]="card().title"
    />
    <mat-card-content>
      <p class="text-center">{{ card().text }}
      </p>
    </mat-card-content>
  </div>
  <mat-card-actions class="self-end">
    <a mat-button routerLink="{{card().link}}">öffnen</a>
  </mat-card-actions>
</mat-card>
