<section
  class="min-h-screen flex flex-col items-center justify-center p-8 bg-gray-50">
  <h1 class="text-6xl md:text-8xl font-bold mb-6 text-center">
    <span class="text-blue-500">Fair</span
    ><span class="text-orange-500">Erben</span>
  </h1>
  <p class="text-xl md:text-2xl text-gray-700 mb-12 text-center">
    einfach. fair. transparent.
  </p>
  <a
    routerLink="/rechner"
    class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg transition duration-300">
    Jetzt starten
  </a>
</section>
