<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <div class=" h-full flex flex-col justify-between">
      <div>
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
          <a mat-list-item routerLink="rechner">Pflichtteils-Rechner</a>
          <a mat-list-item routerLink="kompass">Testaments-Kompass</a>
          <a mat-list-item routerLink="vermittlung">Vermittlung</a>
          <a mat-list-item routerLink="dokumente">Musterdokumente</a>
        </mat-nav-list>
      </div>
      <mat-nav-list>
        <a mat-list-item routerLink="impressum">Impressum</a>
        <a mat-list-item routerLink="datenschutzerklaerung"
        >Datenschutzerklärung</a
        >
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="flex! min-h-dvh flex-col justify-between">
    <mat-toolbar color="primary flex justify-between">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <a mat-button routerLink="/home" class="font-bold"
        ><span class="text-blue-500">Fair</span
        ><span class="text-orange-500">Erben</span></a
      >
      <span class="text-sm"
        >Alle Angaben beziehen sich ausschließlich auf Österreichisches
        Recht</span
      >
    </mat-toolbar>
    <main class="bg-white grow">
      <ng-content />
    </main>
    <footer class="p-4 text-center text-sm text-gray-600 space-y-4">
      <p>© 2025 FairErben. Alle Rechte vorbehalten.</p>
      <p>
        Alle auf dieser Website bereitgestellten Informationen und Tools dienen
        ausschließlich allgemeinen Informationszwecken und stellen keine
        Rechtsberatung dar. Es handelt sich um eine unverbindliche Erstauskunft,
        die keine individuelle Prüfung oder Beratung durch zur Rechtsberatung
        befugte Personen ersetzt.
      </p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
