<!-- /src/app/components/download-section.component.html -->
<div class="card-container">
  <a
    mat-raised-button
    class="download-button"
    href="/assets/LHT_mustertestament.pdf"
    target="_blank"
  >
    <mat-icon class="button-icon">picture_as_pdf</mat-icon>
    Muster-Testament (PDF)
  </a>
<br>
<br>
  <a
    mat-raised-button
    class="download-button"
    href="/assets/Legal%20Tech%20Hackathon%20-%20FAIRerben.odt"
    download="Muster-Testament.odt"
  >
    <mat-icon class="button-icon">description</mat-icon>
    Muster-Testament (DOC)
  </a>
<br>
<br>
<a
  mat-raised-button
  class="download-button"
>
  <mat-icon class="button-icon">description</mat-icon>
  Erwachsenenvertretung (PDF)
</a>

<br>
<br>
<a
  mat-raised-button
  class="download-button"
>
  <mat-icon class="button-icon">description</mat-icon>
  Patientenverfügung (PDF)
</a>

<br>
<br>
<a
  mat-raised-button
  class="download-button"
>
  <mat-icon class="button-icon">description</mat-icon>
  Vorsorgevollmacht (PDF)
</a>
</div>
