<div class="card-container">

  <!-- PDF -->
  <mat-card class="download-card">
    <mat-card-title>
      &nbsp;Muster-Testament (PDF)
    </mat-card-title>
    <mat-card-content>
      Ein Testament ist eine einseitige Verfügung einer Person über ihr Vermögen nach dem Tod. Anders als bei den anderen Rechtsinstituten geht es hier nicht um Vertretung oder Vorsorge zu Lebzeiten, sondern um die Regelung des Nachlasses. Das Testament wird erst mit dem Tod des Erblassers wirksam und regelt, wer welche Vermögenswerte erhalten soll.
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-raised-button
        color="warn"
        href="/assets/LHT_mustertestament.pdf"
        target="_blank"
      >
        <mat-icon color="warn">description</mat-icon>
        PDF öffnen
      </a>
    </mat-card-actions>
    <mat-card-actions>
      <a
        mat-raised-button
        color="primary"
        href="/assets/Legal%20Tech%20Hackathon%20-%20FAIRerben.odt"
        download="Muster-Testament.odt"
      >
        <mat-icon color="warn">picture_as_pdf</mat-icon>
        DOC herunterladen
      </a>
    </mat-card-actions>
  </mat-card>

<br>
  <!-- Erwachsenenvertretung -->
  <mat-card class="download-card">
    <mat-card-title>
      &nbsp;Erwachsenenvertretung
    </mat-card-title>
    <mat-card-content>
      Eine Erwachsenenvertreter-Verfügung ist ein rechtliches Instrument, mit dem eine Person vorsorglich festlegen kann, wer später als Erwachsenenvertreter tätig werden oder wer ausdrücklich nicht tätig werden soll.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
        <mat-icon color="warn">picture_as_pdf</mat-icon>
        PDF öffnen
      </button>
    </mat-card-actions>
  </mat-card>
<br>
  <!-- Patientenverfügung -->
  <mat-card class="download-card">
    <mat-card-title>
      &nbsp;Patientenverfügung
    </mat-card-title>
    <mat-card-content>
      Eine Patientenverfügung ermöglicht es, im Voraus festzulegen, welchen medizinischen Behandlungen man zustimmt oder welche man ablehnt, falls man später nicht mehr entscheidungsfähig ist.
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
        <mat-icon color="warn">picture_as_pdf</mat-icon>
        PDF öffnen
      </button>
    </mat-card-actions>
  </mat-card>
<br>
  <!-- Vorsorgevollmacht -->
  <mat-card class="download-card">
    <mat-card-title>
      &nbsp;Vorsorgevollmacht
    </mat-card-title>
    <mat-card-content>
      Die Vorsorgevollmacht ist ein rechtliches Instrument, mit dem eine Person (Vollmachtgeber) für den Fall vorsorgen kann, dass sie in Zukunft ihre Entscheidungsfähigkeit verliert. Sie erlaubt es, selbstbestimmt eine Vertrauensperson auszuwählen, die dann wichtige Angelegenheiten regeln darf. Sie ermöglicht es, für den Fall der eigenen Entscheidungsunfähigkeit vorzusorgen, indem einer Vertrauensperson die Befugnis erteilt wird, jene Angelegenheiten zu regeln, die man selbst in Zukunft möglicherweise nicht mehr regeln kann.

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
        <mat-icon color="warn">picture_as_pdf</mat-icon>
        PDF öffnen
      </button>
    </mat-card-actions>
  </mat-card>

</div>
