<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="verwandschaftsverhaeltnisse">
    <section class="example-section" [formGroup]="verwandschaftsverhaeltnisse">
      <h4>Verwandschaftsverhältnisse:</h4>
      <p>
        <mat-checkbox formControlName="ehepartner"
          >Ehegatte*in/Eingetragener Partner</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox formControlName="kinder">Lebensgefährte*in</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="eltern"
          >Mutter/Vater/Geschwister/Stiefkinder</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox formControlName="nachkommen">Nachkommen</mat-checkbox>
      </p>
      <p>
        <mat-checkbox formControlName="adoptivkind">Adoptivkinder</mat-checkbox>
      </p>
    </section>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
